div{
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color:darkgreen;
    border-top: 15px solid goldenrod;
    border-bottom: 15px solid goldenrod;
    height: 100vh;

    justify-content: center;
 
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h3{
    color: white;
    font-size: 40px;
}
button{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 400px;
    height: 60px;
    background-color: goldenrod;
    font-size:40px ;
}